body{
    background-image: url("https://i.guim.co.uk/img/media/9f7b033af10c2d56439ad02571495cf4c3e4f722/0_0_3000_1800/master/3000.jpg?width=1900&dpr=2&s=none&crop=none");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}
.spellArea{
    margin: 0 auto;
    width: 30vw;
    background-image: url('https://www.vice.com/wp-content/uploads/sites/2/2020/10/1601880224198-gettyimages-90429555.jpeg?resize=1536,1152');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: 2px solid rgb(110, 109, 109);
    height: 50vh;
    
}